* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    padding: 2px
}
body {
    display: flex;
}
body .content {
    margin-left: 2px;
    position: absolute;
    left: 240px;
    right: 0;
    top: 0;
    bottom: 0;
}
main {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-shade);
}
.content-container{
    flex: 1;
    z-index: 1;
    position: relative;
    top: 48px;
}

.cadastro {
    height: 94.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}
.card {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    padding: 5vh;
    width: 1000vh;
    width: fit-content;
    border-radius: 1vh;
    border: 1px solid var(--light-shade);
}
.card form {
    display: flex;
    flex-direction: row;
    width: 130vh;
}
.row {
    width: 100%;
    display: flex;
    margin: 1vh;
}
.col-1 {
    flex: 1;
    margin: 10px;
    height: 100%;
    min-width: 0;
    box-sizing: border-box;
}
.col-2 {
    flex: 2;
    margin: 10px;
    height: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.form-group {
    flex: 1;
    margin-left: 2vh;
    margin-right: 2vh;
    min-width: 0;
    display: flex;
    flex-direction: column; 
    margin-bottom: 1rem; 
}

.form-group label {
    order: 1; 
    margin-bottom: 0.5rem;
    font-weight: lighter;
    font-size: 14px;
    color: var(--medium);
}
.form-group label span {
    color: var(--danger);
}
.form-group input {
    height: 3vh;
    order: 2; /* Input comes after label */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-shade);
}
.max-height {
    height: 100%;
}
.dados {
    top: 10px;
    background-color: var(--light);
    border: 1px solid var(--light-shade);
    height: 100%;
    border-radius: 2px;
}