header {
    display: flex;
    margin-left: 240px;
    max-width: 100%;
    height: 47px;
    border-bottom: 1px solid #000;
    align-items: center;
}
header .logo {
    text-align: center;
    width: 20%;
}
header .page {
    font-style: italic;
    text-align: center;
    width: 70%;
}
header .buttons {
    text-align: center;
    width: 20%;
}
header .buttons a {
    text-decoration: none;
    color: #000;
    margin: 10px;
}
